.container {
    padding: .5rem;
    border-radius: 15px;
    background-color: var(--bg-dark);
}

.dataContainer {
    display: flex;
}

.imageContainer {
    display: inline-block;
}

.textContainer {
    display: inline-block;
    margin-left: .5rem;
    padding: 0;
}

.name {
    margin: 0 0 .25rem 0;
}

.description {
    margin: 0;
}

.percentage {
    margin: 0;
}

.percentage {
    color: var(--accent-dark);
}