@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0)}
    100% {-webkit-transform: rotate(1turn)}
}

.spinner {
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: center;
    border: .5em solid var(--accent-color);
    border-right: .5em solid transparent;
    border-radius: 50%;
    animation: spin .75s linear infinite;
}