.container {
    padding: 0;
    margin: 0;
    display: flex;
}

.content {
    display: inline-block;
    width: 100%;
    padding-right: 5%;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.gameContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.achievementsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
}